*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
 
  display: grid;
  grid-template-rows: 30vh 70vh;
  grid-template-columns: auto;
  grid-auto-rows: 200px;
  background-image: linear-gradient(rgba(75, 71, 71, 0.6),rgba(18, 17, 17, 0.7)),url("D:\React_programs\test\back1.01f371d1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-items: center;
}
